$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  textarea {
    width: 300px;
    height: 200px;
    resize: none;
  }
  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #fd971f;
        color: #f92672;
        font-weight: 600;

        &:hover, &.active {
          background: #ac81fe;
          color: #8ab82d;
        }
      }
    }
  }
}
