$backgroundColor: #272822;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #container {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:100px;
    margin-left: auto;
    margin-right: auto;
  }

}

.bodyContainer {
  background-color: #272822;
  color:#f92672;
  display:flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  padding: 20px;
  border-radius: 50px;
  border: 4px #28dacb solid;
  #requestURL {
    margin-left: 10%;
  }
}

